:root {
    --color-primary: #203956;
    --color-secondary: #673f22;
    --color-steel: #aabed8;
    --color-gold: #b39530;
    --color-black: #030200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

body {
    width: 1200px;
    max-width: 90%;
    margin: auto;
}


h1,
h2,
h3 {
    color: var(--color-primary);
}